[Desktop Entry]
Name=ArmCord
Exec=startarmcord
Terminal=false
Type=Application
Icon=xyz.armcord.ArmCord
Categories=Network;InstantMessaging
StartupWMClass=ArmCord
Keywords=Discord;WebCord;
